#main {
  background-color: #E6E8F4;
  font-family: sans-serif;
}

#title {
  text-align:center;
  font-size: 34px;
  color: #1D2239;
}

#img-caption {
  text-align: center;
}

#img-div {

}

#image {

}

#tribute-info {
  font-weight: 100;
}

#tribute-link {
  color: blue;
}

h1 {
  color: #black;
  font-size: 18px;
  padding-top: 2em;
  text-align: center;
  display: block;
  margin-bottom: 0;
}

h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 26px;
  font-style: italic;
  color: #1D2239;
}

div {
  width: auto;
  height: auto;
  padding: 2em;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}
